<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Adopcion Perros</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom fonts for this template -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,600,200italic,600italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
      
    <!-- Custom styles for this template -->
    <link href="css/grayscale.css" rel="stylesheet">

    <script src="js/main.js"></script>
</head>

<body id="page-top" >
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" onclick="sendData2Back(this)">
        <div class="container" id="containerNav" onclick="sendData2Back(this)">
            <a class="navbar-brand js-scroll-trigger" href="#page-top" id="Inicio" onclick="sendData2Back(this)">Inicio</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" id="Menu" onclick="sendData2Back(this)">
                Menu
                <i class="fa fa-bars" id="Bars" onclick="sendData2Back(this)"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive" onclick="sendData2Back(this)">
                <ul class="navbar-nav ml-auto" id="navBarAuto" onclick="sendData2Back(this)">
                    <li class="nav-item" id="Item">
                        <a class="nav-link js-scroll-trigger" href="#about" id="Acerca" onclick="sendData2Back(this)">Acerca De Nosotros</a>
                    </li>
                    <li class="nav-item" id="Item">
                        <a class="nav-link js-scroll-trigger" href="#contact" id="Contacto" onclick="sendData2Back(this)">Contactanos</a>
                    </li>
                <form method="POST" action="Grafica">
                    <li class="nav-item" id="Item">
                        <button class="btn" id="Grafica" onclick="sendData2Back(this)" type="submit">Grafica</button>
                    </li>
                </form>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead" id="Head" onclick="sendData2Back(this)">
        <div class="intro-body" id="IntroBody" onclick="sendData2Back(this)">
            <div class="container" id="Container" onclick="sendData2Back(this)">
                <div class="row" id="Fila" onclick="sendData2Back(this)">
                    <div class="col-lg-8 mx-auto" id="Columna" onclick="sendData2Back(this)">
                        <h1 class="brand-heading" id="Titulo" onclick="sendData2Back(this)">Salva una vida</h1>
                        <p class="intro-text" id="Info" onclick="sendData2Back(this)">Pagina de Informacion de Adopcion de Perros.
                            <br> "Adopta Una Mascota y Salva Dos Vidas" </p>
                        <a href="#about" class="btn btn-circle js-scroll-trigger" id="Boton" onclick="sendData2Back(this)">
                            <i class="fa fa-angle-double-down animated" id="Animacion" onclick="sendData2Back(this)"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center" onclick="sendData2Back(this)">
        <div class="container" id="Container" onclick="sendData2Back(this)">
            <div class="row" id="Fila" onclick="sendData2Back(this)">
                <div class="col-lg-8 mx-auto" id="Columna" onclick="sendData2Back(this)">
                    <h2>Acerca De Nosotros</h2>
                    <p>Nosotros reunimos protectores de animales y personas que buscan
                        <a href="#" class="Link" id="Negritas" onclick="sendData2Back(this)">adoptar una mascota</a>. Nosotros no solo traemos una mascota a la familia, sino que tambien traemos
                        felicidad y beneficios para toda la familia.</p>
                    <p>Ya que estos ayudan a disminuir la presion arterial, menos complicaciones de salud, Una mejora en su
                        bienestar psicologico, Incluso se dice que los niños pierden menos dias de escuela.
                </div>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="download-section content-section text-center" onclick="sendData2Back(this)">
        <div class="container" onclick="sendData2Back(this)">
            <div class="col-lg-8 mx-auto" onclick="sendData2Back(this)">
                <p>¿De dónde provienen los animales adoptables? Los perros y gatos que se ofrecen en adopción son animales
                    que han sido abandonados, que proceden de camadas no controladas o que se han extraviado y ha
                    sido imposible encontrar a sus propietarios.</p>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section text-center" onclick="sendData2Back(this)">
        <div class="container" id="Container" onclick="sendData2Back(this)">
            <div class="row" id="Fila" onclick="sendData2Back(this)">
                <div class="col-lg-8 mx-auto" id="Columna" onclick="sendData2Back(this)">
                    <h2>Contacta A Los Chicos Pro</h2>
                    <p>Siéntase libre de dejarnos un comentario sobre la
                        <a href="#" class="Link" id="Negritas">pagina de adopcion de Perros</a>
                        les ofrecemos la opcion de aquirir una mascota para su hogar!</p>
                    <ul class="list-inline banner-social-buttons" onclick="sendData2Back(this)">
                        <li class="list-inline-item" id="Items" onclick="sendData2Back(this)">
                            <a href="#" class="btn btn-default btn-lg" onclick="sendData2Back(this)">
                                <i class="fa fa-phone fa-fw" onclick="sendData2Back(this)"></i>
                                <span class="network-name" onclick="sendData2Back(this)">Contacto</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="site-footer" onclick="sendData2Back(this)">
        <div class="container text-center" id="Container" onclick="sendData2Back(this)">
            <p>Copyright &copy; Los Chicos PRO 2017</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>
</body>

</html>